<!--Change Password Page-->
<!DOCTYPE html>    
<html>    
    <head>    
        <title>Change Password</title>    
        <link rel="stylesheet" href="../CSS templates/ChangePassStyle.css"> 
        <script src="../JS/authenticated.js"></script>

    </head>    
    <body>
        <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="Change">    

      <h2> Change Password </h2>  
      <center><p>
        Password Requirements: <br>
        At least 1 number, 1 uppercase, 1 lowercase, <br>
        and must be more than 8 characters long.</center>
    </p> </center>

        <form action="/change" method="POST"> 
            <div class ="container">
                <fieldset>
                    <label>Username</label>
                    <input type="text" placeholder="Enter Username" name="username"  id="username" required>  
                    <br><br>

                    <label>Old Password</label>
                    <input type="password" placeholder="Enter Old Password" name="oldPassword" id="oldPassword" required>    
                    <br><br>

                    <label>New Password</label>
                    <input type="password" placeholder="Enter New Password" name="newPassword" id="newPassword" 
                    required minlength="8" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$">   
                    <br><br>

                    <button class="button-cont" type="submit" id="changeSubmit">Submit</button> 
                    <br><br>

                </fieldset> 
            </div>  
        </form>   
    </div> 
    <div class="nav-admin">
        <div class="admin-dropdown">
            <button class="admin-button">Options</button>
            <div class="admin-content">
                <a href="RegisterUser.ejs">Register</a>
                <a href="Login.ejs">Login</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="col-1">
            <h1>
                <a href="Homepage.ejs">
                <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="logo" style="width:120px;height:70px;"><br>
                2400 FULTON AVE-B, SACRAMENTO, CA 95825<br>
                916-750-9099<br>
            </h1>
        </div>
    </div> 
    <script>
        var navbar = document.getElementById("navbar");
        var menu = document.getElementById("menu");
        window.onscroll = function(){
            if(window.pageYOffset >= menu.offsetTop){
                navbar.classList.add("sticky");
            }
            else{
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>    
</html> 
