<!--Search page-->
<!DOCTYPE html>    
<html>    
<head>    
    <title>Search</title>
    <link rel="stylesheet" href="../CSS templates/InventoryPageStyle.css">
    <script src="../JS/authenticated.js"></script>

</head>    
<body>
    <div class="image-box">
        <a href="Homepage.ejs">
            <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
        </a>
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="nav-menu">
                    <div class="nav-text">
                        <h3>OKAIDI AUTO SALES</h3>
                        <div class="nav-toggle" id="navToggle">
                            <img class="navIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png"
                                alt="hamburger menu" width="25px" id="hamburger">
                            <img class="navIcon hiddenNavIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png"
                                alt="close hamburger" width="25px">
                        </div>
                    </div>
                    <div class="navList" id="navShow">
                        <ul class="ulForDir">
                            <li><a href="Homepage.ejs">Home</a></li>
                            <li><a href="Search.ejs">Search</a></li>
                            <li><a href="Aboutus.ejs">About Us</a></li>
                            <li><a href="ContactUs.ejs">Contact Us</a></li>
                            <li><a href="ApplyNow.ejs">Apply Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>
    <div class="boby-main">
        <div class="container-box">
        <div class="container">
            <div class="img-box">
                <div class="img-container">
                <div class="img-main">
                    <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 600px;">
                </div>
                <div class="img-collection">
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" 
                            style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" 
                            style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                    <div class="collection-item">
                        <img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="car img" style="width: 70px">
                    </div>
                </div>
                </div>
            </div>
            <div class="info-box">
                <div class="i-container">
                    <div class="stock-box">
                        <div class="stock-icon">STOCK:</div>
                        <div class="stock">11</div>
                    </div>
                    <div class="year-make-model">
                        <div class="year">1999</div>
                        <div class="make">HONDA</div>
                        <div class="model">ACCORD</div>
                    </div>
                    <div class="price-box">
                        <div class="price-icon">$</div>
                        <div class="price">1111</div>
                    </div>
                    <div class="cond-box">
                        <div class="cond-icon">Condition:</div>
                        <div class="cond">good</div>
                    </div>
                    <div class="car-body-box">
                        <div class="car-body-icon">Body:</div>
                        <div class="car-body">coup</div>
                    </div>
                    <div class="color-box">
                        <div class="color-icon">Color:</div>
                        <div class="color">green</div>
                    </div>
                    <br>
                    <br>
                    <div class="apply-button-box">
                    <form>
                        <input type="hidden" name="Car_Stock_Num">
                        <input type="submit" value="Apply" class="apply-button">
                    </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="footer">
        <div class="foot-flex">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="40px" height="40px">
                </a>
            </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br> 916-750-9099
        </div>
        <div class="footer-section-img"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" 
            alt="logo">
        </div>
        <div class="footer-section-map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
             style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div> 
	    </div>
        <hr class="footer-hr">
        <div class="footer-end"></div>
    </div>

    
    <script>
        var navbar = document.getElementById("navbar");
        window.onscroll = function () {
            if (window.pageYOffset > navbar.offsetTop) {
                navbar.classList.add("sticky");
            }
            else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
    <script>
        const navToggle = document.querySelector('#navToggle');
        const navl = document.querySelector('#navShow');
        const navIcon = document.querySelectorAll('.navIcon');
        const hamburger = document.querySelector('#hamburger');

        navToggle.addEventListener("click", () => {
            navl.classList.toggle("openNav")
            navIcon.forEach(icon => {
                icon.classList.toggle("hiddenNavIcon");
            })
        });

        window.addEventListener("resize", () => {
            if (document.body.clientWidth > 720) {
                navl.classList.remove("openNav");
                navIcon.forEach(icon => {
                    icon.classList.add("hiddenNavIcon")
                });
                hamburger.classList.remove("hiddenNavIcon");
            }
        });  
    </script>
    
</body>    
</html>  
