<!--Landing Page-->
<!DOCTYPE html>    
<html>    
<head>    
    <title>Landing Page</title>    
    <link rel="stylesheet" href="../CSS templates/LandingPageStyle.css" />
    <script src="../JS/authenticated.js"></script> 
</head>    
<body>
    <div class="image">
        <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png" alt="Okaidi Auto Sales" width="50%" height="10%">
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="navList" id="navShow">  
                    <ul class="ulForDir">
                        <li><a href="Homepage.html">Home</a></li>
                        <li><a href="Search.html">Search</a></li>
                        <li><a href="Aboutus.html">About Us</a></li>
                        <li><a href="ContactUs.html">Contact Us</a></li>
                        <li><a href="ApplyNow.html">Apply Now</a></li>
                    </ul>
                </div> 
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
         This is Landing Page
        </div>
    </div>
    <div class="block-body-box">
        <div class="block-body">
            <ul class="ulBlock">
                <li><a href="Admin.html"><h3>Admin</h3></a></li><br>
                <li><a href="ChangePassword.ejs"><h3>Change Password</h3></a></li>
            </ul>
            <h4>
                Employee Information<br>
            </h4>
            <h5>
                Username: abcd<br>
                Email: abc@123.com<br>
                Phone: 123-456-7890<br>
            </h5>
        </div>
    </div>
   
    <div class="table-wrapper">
        <form action="/inventory" method="POST">
        <input type="text" id="makeInput" class="inputStyle" placeholder="Enter Make">
        <input type="text" id="modelInput" class="inputStyle" placeholder="Enter Model">
        <input type="number" id="yearInput" class="inputStyle" placeholder="Enter Year">
        <input type="text" id="colorInput" class="inputStyle" placeholder="Enter Color">
        <input type="number" id="priceInput" class="inputStyle" placeholder="Enter Price">
        <button id="addButton" class="button" onclick="addNewRow()">Add New Car</button><br><br>
        <table id="inventoryTable">
        <thead>
          <tr>
            <th>Stock Number</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Color</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>

        </tbody>
        </table>
        </form>
    </div>

        <script>
            var navbar = document.getElementById("navbar");
            window.onscroll = function(){
                if(window.pageYOffset > navbar.offsetTop){
                    navbar.classList.add("sticky");
                }
                else{
                    navbar.classList.remove("sticky");
                }
            }
        </script>
        <script>
            const navToggle = document.querySelector('#navToggle');
            const navl = document.querySelector('#navShow');
            const navIcon = document.querySelectorAll('.navIcon');
            const hamburger = document.querySelector('#hamburger');
    
            navToggle.addEventListener("click", () => {
                navl.classList.toggle("openNav")
                navIcon.forEach(icon => {
                    icon.classList.toggle("hiddenNavIcon");
                })
            });
                
            window.addEventListener("resize", () => {
                if(document.body.clientWidth > 720) {
                    navl.classList.remove("openNav");
                    navIcon.forEach(icon => {
                        icon.classList.add("hiddenNavIcon")
                    });
                    hamburger.classList.remove("hiddenNavIcon");
                }
            });  
        </script>
        <script>
            let arrHead = new Array();	// array for header.
            arrHead = ['Stock Number', 'Make', 'Model', 'Year','Color','Price',''];
            function addNewRow() {
                let table = document.getElementById('inventoryTable');
                let rowCnt = table.rows.length;   // table row count.
                let newRow = table.insertRow(rowCnt); // the table row.

                var make = document.getElementById('makeInput').value;
                var model = document.getElementById('modelInput').value;
                var year = document.getElementById('yearInput').value;
                var color = document.getElementById('colorInput').value;
                var price = document.getElementById('priceInput').value;

                var cell0 = newRow.insertCell(0);
                var cell1 = newRow.insertCell(1);
                var cell2 = newRow.insertCell(2);
                var cell3 = newRow.insertCell(3);
                var cell4 = newRow.insertCell(4);
                var cell5 = newRow.insertCell(5);
            
                cell0.innerHTML = '';
                cell1.innerHTML = make;
                cell2.innerHTML = model;
                cell3.innerHTML = year;
                cell4.innerHTML = color;
                cell5.innerHTML = price;

                let td = document.createElement('td');
                td = newRow.insertCell(6);
                    // add a button in every new row in the first column.
                    let button1 = document.createElement('input');
                    let button2 = document.createElement('input');
                    // set input attributes.
                    button1.setAttribute('type', 'button');
                    button1.setAttribute('value', 'Edit');
                    button2.setAttribute('type', 'button');
                    button2.setAttribute('value', 'Delete');
                    button1.className = 'button1';
                    button2.className = 'button2';
                    // add button's 'onclick' event.
                    button1.setAttribute('onclick', '');
                    button2.setAttribute('onclick', 'removeRow(this)');
                    td.appendChild(button1);
                    td.appendChild(button2);
            }
            let removeRow = (oButton) => {
                let empTab = document.getElementById('inventoryTable');
                empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
            }

        </script>
</body>    
</html>
