<!--Login Page-->
<!DOCTYPE html>    
<html>    
<head>    
    <title>Login</title>    
    <link rel="stylesheet" href="../CSS templates/LoginStyle.css"> 
</head>    
<body>
    <div class="image">
        <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/Logo.png"
            alt="Okaidi Auto Sales" width="50%" height="10%">
    </div>
    <div class="navi">
        <div class="navi-centered">
            <nav id="navbar">
                <div class="nav-menu">
                    <div class="nav-text">
                        <h3>OKAIDI AUTO SALES</h3>
                        <div class="nav-toggle" id="navToggle">
                            <img class="navIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconHambMenu.png"
                                alt="hamburger menu" width="25px" id="hamburger">
                            <img class="navIcon hiddenNavIcon"
                                src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/iconClose.png"
                                alt="close hamburger" width="25px">
                        </div>
                    </div>
                    <div class="navList" id="navShow">
                        <ul class="ulForDir">
                            <li class="navi-li-here"><a href="Homepage.ejs">Home</a></li>
                            <li><a href="Search.ejs">Search</a></li>
                            <li><a href="Aboutus.ejs">About Us</a></li>
                            <li><a href="ContactUs.ejs">Contact Us</a></li>
                            <li><a href="ApplyNow.ejs">Apply Now</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="text-line-body-1-box">
        <div class="text-line-body-1">
            Find your next car at Okaidi Auto Sales in Sacramento, CA
        </div>
    </div>
    <div class="login-box">
    <div class="login">    
    <h2> Login </h2> 
        
        <form action="/login" method="POST"> 
            <div class ="container-box">
                <fieldset class="container">
                    <label>Username</label>
                    <input type="text" placeholder="Enter Username" name="username"  id="username" required>  
                    <br><br>

                    <label>Password</label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" required>    
                    <br><br>

                    <button class="button-cont" type="submit" id="loginSubmit">Login</button> 
                    <br><br>

                </fieldset> 
            </div>  
        </form>   
    </div> 
    </div>
    <div class="footer">
        <div class="footer-section">
            <div class="footer-facebook-box">
                <a href="https://www.facebook.com/OkaidiAutoSalesLLC">
                    <img src="https://raw.githubusercontent.com/mseliuzhytski/Bit-by-Bit-Senior-Project/main/Frontend/Images/facebook_icon.png" width="100px" height="100px">
                </a>
                </div>
            <br><font size=+2>1941 El Camino Ave,</font>
            <br> SACRAMENTO, CA 95815
            <br>
        </div>
        <div class="footer-section"><img src="https://j3v8m9d3.stackpathcdn.com/photos/wfbdUbi/1628630235.png" alt="logo" style="width:300px;height:200px;">
        <br>
           <font size =+2> 916-750-9099</font>
            <br>
        </div>
        <div class="footer-section"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3117.741311338998!2d-121.40302578486073!3d38.60882397961626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809ada2b44205a41%3A0x6140aa8f54eec0e9!2sOKAIDI%20AUTO%20SALES!5e0!3m2!1sen!2sus!4v1651356145025!5m2!1sen!2sus" 
            width="100%" height="250" style="border:red;border-width:1pt 1pt 1pt 1pt;border-style: solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        <hr class="footer-hr">
        <div class="footer-end"></div>
            </div>
        </div>

</body>    
</html> 