body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'New Times Roman';  
}
h1{
    text-align: center;
    float: center;
    width: 200px;
    background-color: lightcoral;
    font-size: 25px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
ul {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: clear;
    position: sticky;
    top: 0;
    font-size: 20px;
}
.navi {
    position: relative;
    overflow: hidden;
    background-color: white;
}
.navi a {
    float: left;
    color: black;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
    font-size: 18px;
}
.navi a:hover {
    background-color: lightcoral;
    color: black;
}  
.navi-centered a {
    float: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
h2{
    text-align: center;
    float: center;
    background-color: lightcoral;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
.image{
    margin-top: auto;
    margin-left: center;
    margin-right: center;
}
.block{
    background-color: white;
    float: none;
    margin-top: 150px;
    margin-left: 100px;
}
.block a {
    background-color: lightgray;
    color: black;
    text-align: center;
    margin-left: 220px;
    padding-left: auto;
    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 18px;
}
.block a:hover {
    background-color: lightcoral;
    color: black;
}
.blockPart2{
    background-color: white;
    margin-top: 20px;

}
.blockPart2 a1{
    background-color: lightcoral;
    color: black;
    float: left;
    text-align: center;
    padding-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}
.blockPart2 a2{
    background-color: lightcoral;
    color: black;
    margin-left: 20%;
    text-align: center;
    padding-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}
.blockPart2 a{
    background-color: lightcoral;
    color: black;
    float: right;
    font-size: 18px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-right: 0%;
}
.blockPart2 a:hover {
    background-color: white;
    color: black;
}