body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'New Times Roman';  
}
h1{
    text-align: center;
    float: center;
    width: 200px;
    background-color: lightcoral;
    font-size: 25px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.ulForDir {
    list-style-type: none;
    text-align: center;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: clear;
    position: sticky;
    top: 0;
    font-size: 20px;
}
.navi li {
    float: left;
    width: 20%;
}
.navi {
    position: relative;
    overflow: hidden;
    background-color: white;
    text-align: center;
}
.navi-centered {
    display: inline-block;  
}
.navi a {

    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
    font-size: 18px;
}
.navi a:hover {
    background-color: lightcoral;
    color: black;
}  

h2{
    text-align: center;
    float: center;
    background-color: lightcoral;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}
.image{
    display: flex;
    justify-content: center; 
    align-items :center;
}
.block {
    margin-top: 150px;
    background-color: white;
}
.ulBlock {
    list-style: none;
    margin: 0;
    padding: 0;
}
.block li {
    float: left;
    width: 33.33%;
    text-align: center;
}
.block a {
    display: inline-block;
    background-color: lightgray;
    color: black;
    text-align: center;

    padding-top: 70px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-decoration: none;
    font-size: 18px;
}
.block a:hover {
    background-color: lightcoral;
    color: black;
}
.blockPart2{
    background-color: white;
    margin-top: 20px;

}
.ulBlockPart2 {
    list-style: none;
    margin: 0;
    padding: 0;
}
.ulBlockPart2 li {
    float: left;
    width: 31.5%;
    text-align: center;
}
.blockPart2 a1 {
    display: block;
    background-color: lightcoral;
    color: black;
    float: left;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}
.blockPart2 a2{
    display: inline-block;
    background-color: lightcoral;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 18px;
}
.blockPart2 a{
    float: right;
    display: block;
    background-color: lightcoral;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 50px;
    text-align: center;
    padding-bottom: 150px;
}
/*.blockPart2 a:hover {
    background-color: white;
    color: black;
}*/
.botnav{
    background-color: lightcoral;
    position: relative;
    overflow: hidden;
    width: 100%;
    bottom: 0;
}
.botnav a{
    color: black;
    float: right;
    display: flex;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-size: 13px;
}
.botnav a:hover {
    background-color: white;
    color: black;
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    font-size: 15pt;
}
