body{
  margin: 0;  
  padding: 0;  
  background-color:white;  
  font-family: 'New Times Roman'; 
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-text {
  display: none;
}

.ulForDir {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

.ulForDir li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navi-li-here {
  background-color: lightcoral;
}

/* Use a media query to add a breakpoint at 720px: */
@media screen and (max-width: 720px) {
  .image img {
    width: 100%;
  }

  .navi-centered {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .nav-text {
    display: flex;
    justify-content: space-between;
    padding: 1%;
  }

  .navList {
    height: 0;
    overflow: hidden;
  }

  .openNav {
    height: auto;
  }

  .hiddenNavIcon {
    display: none;
  }

  .ulForDir {
    flex-direction: column;
    align-items: center;
  }

  input[type=text] {
    width: 100%;
  }
}

.navi {
  overflow: hidden;
  text-align: center;
  background-color: rgb(255, 245, 245);
}

.navi-centered {
  display: inline-block;
}

.navi a {
  background-color: rgb(255, 245, 245);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(75, 75, 75);
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.navi a:hover {
  color: black;
  background-color: lightcoral;
}

nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 245, 245);
}

.nav.sticky a:hover {
  background-color: rgb(255, 245, 245);
  color: black;
  background-color: lightcoral;
}

.text-line-body-1-box {
  width: 100%;
  padding: 0;
}

.text-line-body-1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: black;
  background-color: lightcoral;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login-box{
  text-align: center;
}

.login{  
        display: inline-block;
        width: 400px;    
        background: white;  
        border-radius: 15px; 
        margin-top: 15px;        
        margin-bottom: 50px;
}

.container{
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px;
}

.h1{
    background-color: lightcoral;
    color: black;
    float: center;
    font-size: 18px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 0%;
}

h2{ 
    text-align: center;  
    color: black;  
    font-size: 25px;  
}  
label{  
    color: black;  
    font-size: 17px; 
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: 1px;  
    border-radius: 3px;  
    padding-left: 8px;
    border-style: solid;   
}  

.button-cont{
    border-radius: 5px;
    background-color: lightcoral;
    color: black;
    padding: 14px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.footer {
  width: 100%;
  background: lightcoral;
  text-align: center;
  margin: 0 auto;
}

.footer div h1 {
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0;
}

.footer-info {
  display: block;
  padding-bottom: 20px;
}

.footer-facebook-box {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-hr {
  color: rgb(75, 75, 75);
  width: 95%;
  height: 1px;
}

.footer-end {
  display: block;
  height: 35px;
}
  
/*
CSS for Username and Password on Login
*/
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid rgb(0, 0, 0);   
    box-sizing: border-box;   
}