body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'New Times Roman';  
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text {
    display: none;
}

.ulForDir {
    display: flex;
    justify-content: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 5px;
}

.ulForDir li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navi-li-here {
    background-color: lightcoral;
}

/* Use a media query to add a breakpoint at 720px: */
@media screen and (max-width: 720px) {
    .image img {
        width: 100%;
    }

    .navi-centered {
        width: 100%;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-text {
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }

    .navList {
        height: 0;
        overflow: hidden;
    }

    .openNav {
        height: auto;
    }

    .hiddenNavIcon {
        display: none;
    }

    .ulForDir {
        flex-direction: column;
        align-items: center;
    }

    input[type=text] {
        width: 100%;
    }
}

.navi {
    overflow: hidden;
    text-align: center;
    background-color: rgb(255, 245, 245);
}

.navi-centered {
    display: inline-block;
}

.navi a {
    background-color: rgb(255, 245, 245);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(75, 75, 75);
    text-decoration: none;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.navi a:hover {
    color: black;
    background-color: lightcoral;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 245, 245);
}

.nav.sticky a:hover {
    background-color: rgb(255, 245, 245);
    color: black;
    background-color: lightcoral;
}

.col {
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    float: left;
    width: 180%;
    padding-bottom: 20px;
}

.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px;
    margin-top: 10%;
    text-align: left;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    cursor: pointer;
    width: 25%;
    border-radius: 8px;
}
.button:hover {
    background-color: gray;
}
  
.paragraph{
    font-size: 15px;
    font-family: 'Times New Roman';
    margin-right: 50px;
    text-align: left;
    text-indent: 30%;
}
input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: auto;
    resize: vertical;
}
/*  NOT USED
input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: gray;
}*/

.row {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: lightcoral;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 20px;
    float: left;
    width: 300%;
}

.container {
    display: inline-block;
    padding-bottom: 80px;
    text-align: center;
    margin-top: 30px;
    margin-left: 30%;
}

.footer {
    width: 100%;
    background: lightcoral;
    overflow: auto;
    text-align: center;
    margin: 0 auto;
}
.footer-section {
    float:left;
    width:33%;
  }

.footer div h1 {
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0;
}

.footer-info {
    display: block;
    padding-bottom: 20px;
}

.footer-facebook-box {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-hr {
    color: rgb(75, 75, 75);
    width: 95%;
    height: 1px;
    
}

.footer-end {
    display: block;
    height: 35px;
}

.text-line-body-1-box {
    width: 100%;
    padding: 0;
}
.text-line-body-1 {
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    color: black;
    background-color: lightcoral;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
    padding-bottom: 12px;
}