body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'New Times Roman';  
}  

.image-box {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.nav-text {
  display: none;
}

.nav-text-logo {
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgb(75, 75, 75);
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.nav-toggle {
  padding-top: 15px;
  padding-right: 15px;
}

.ulForDir {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 5px;
}

.ulForDir li {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navi-li-here {
  background-color: lightcoral;
}

/* Use a media query to add a breakpoint at 720px: */
@media screen and (max-width: 720px) {
  .image img {
    width: 100%;
  }

  .navi-centered {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .nav-text {
    display: flex;
    justify-content: space-between;
    padding: 1%;
  }

  .navList {
    height: 0;
    overflow: hidden;
  }

  .openNav {
    height: auto;
  }

  .hiddenNavIcon {
    display: none;
  }

  .ulForDir {
    flex-direction: column;
    align-items: center;
  }
}

.navi {
  overflow: hidden;
  text-align: center;
  background-color: rgb(255, 245, 245);
  position: sticky;
  top: 0;
}

.navi-centered {
  display: inline-block;
}

.navi a {
  background-color: rgb(255, 245, 245);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  color: rgb(75, 75, 75);
  text-decoration: none;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.navi a:hover {
  color: black;
  background-color: lightcoral;
}

nav.sticky {}

.nav.sticky a:hover {
  background-color: rgb(255, 245, 245);
  color: black;
  background-color: lightcoral;
}

  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: auto;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: lightcoral;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: lightcoral;
  }
 
.login-box{
  display: flex;
  justify-content: center;
}

.login{  
        width: 400px;  
        overflow: hidden;    
        background: white;  
        border-radius: 15px;        
        margin-bottom: 30px; 
}
.h1{
    background-color: lightcoral;
    color: black;
    float: center;
    font-size: 18px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 0%;
}

h2{ 
    text-align: center;  
    color: black;  
    font-size: 25px;  
}  
label{  
    color: black;  
    font-size: 17px; 
}  

button{
    border-radius: 5px;
    background-color: lightcoral;
    color: black;
    padding: 14px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}
span{  
    color: grey;  
    font-size: 17px;  
}

.footer {
  width: 100%;
  background: lightcoral;
  overflow: auto;
  text-align: center;
  margin: 0 auto;
}

.footer-section {
  float: left;
  width: 33%;
}

.footer-section-map {
  float: left;
  width: 33%;
  margin-top: 6px;
}

.footer div h1 {
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0;
}

.footer-info {
  display: block;
  padding-bottom: 20px;
}

.footer-facebook-box {
  display: block;
  margin-top: 50px;
}

.footer-hr {
  color: rgb(75, 75, 75);
  width: 95%;
  height: 1px;

}

.footer-end {
  display: block;
  height: 35px;
}

.bottom {
  width: 100%;
  background-color: lightcoral;
  font-size: 13px;
  text-align: right;
  margin-right: 100px;
  margin-bottom: 0%;
}

.bottom a {
  margin-right: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
}

.text-line-body-1-box {
  width: 100%;
  padding: 0;
}

.text-line-body-1 {
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: black;
  background-color: lightcoral;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}

/*
CSS for Username and Password on Login
*/
input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid rgb(0, 0, 0);   
    box-sizing: border-box;   
}  
